{% extends 'blog/base.html' %}
{% block title %} UBlog - About Us{% endblock %} 

{% block meta %}
<meta name="description" content=" about UBlog">
  <meta name="keywords" content="UBlog ,about, blog">
  <meta name="author" content="siddhesh Pardeshi">
{% endblock %} 
{% block body %}
<div class="container" >
	<div class="text-center" >
		<p>Made With ♥️ in </p>
		<h5>Sid Industries 🏰</h5>
	</div>
</div>

<footer class="mb-0" style="margin-bottom:0;" >
	<div class="container text-center">
		<h6>Developed by Siddhesh Pardeshi</h6>
		<span>©2021 All rights reserved</span>
		<b>Sid Industries</b>
	</div>
</footer>
{% endblock %} 